* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: #10214e;
}

/* main code */
/* frond-card */
.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.8em;
}
.frond-card{
  height: 36.5em;
  width: 20em;
  /* background-color: red; */
  border-radius: 0.8em ;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.frond-top{
  height: 10em;
  padding: 1em 1em 0em 1em;
  background-color: rgb(255, 102, 0);
  border-radius: 0.8em 0.8em 0em 0em;
 
}
.frond-bottom{
  border-radius: 0em 0em 0.8em 0.8em;
}
.frond-bottom img{
  width: 20em;
  
  border-radius: 0em 0em 0.8em 0.8em;
}
.frond-card h1{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 46px;
  margin-top: 15px;
  color: white;
  transition: ease-out;
}
.frond-card .hover-name:hover{
  cursor: pointer;
  color: black;
  transition: ease 0.5s;
  transform: scale(115%);
}
.frond-card .hover-name:active::after{
 position: absolute;
 content: "Thomas";
 background-color: rgb(255, 102, 0);
 left: 0px;
 cursor: pointer;
 transition-duration: 3s;
}
.flip{
  position: absolute;
  margin: 1em;
  padding: 9px 10px;
  border-radius: 100%;
  border: none;
  background-color:white;
  color: rgb(255, 102, 0);
  
}
.flip:hover{
  color: rgb(255, 102, 0);
  background-color: black;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  transform: scale(115%);
}
.flip:focus::after{
  content: "◀︎";
  position: absolute;
  left: 7px;
  top: 7px;
  background-color: white;
}
.flip:focus{
  background-color: white;
}

/* back card  met alle styling alles in em zodat waardes responsive blijven*/
.back-card{
  display: none;
  height: 36.5em;
  width: 20em;
  background-color: black;
  border-radius: 0em 0.8em 0.8em 0em;
  position: absolute;
  padding: 1em;
  padding-right: 2em;
  margin-left: -1em;
  transition: ease-in 3s;
}
.back-top{
  height: 4em;
}
.back-top h2{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin-top: 2em;
}
.back-bottom{
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.back-bottom p{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  max-width: 22px;
}
ul{
  list-style-type: none;
  margin-block-start: 0em;
  padding-inline-start: 0px;
  row-gap: 20px;
}
li{
  color: white;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;

  
}

.colum{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 84px;

}


.full-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: rgba(81, 85, 88, 0.459) 0px 8px 24px;
  border-radius: 0.8em;
  background-color: black;
}

.row1{
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}
/* expand content */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

.colum2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.colum3{
  display: flex;
  flex-direction: row;
  align-content: center;
  /* align-items: center; */
  justify-content: center;
}
.colum3 .row3{
  max-width: 12.4em;
}
.colum3 .row3 p{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 12.4em;
}
/* social */
.social-icon{
  padding: 18px 20px;
  border-radius: 0.3em;
  border: none;
  background-color: rgb(255, 102, 0) ;
  font-size: 1em;
  transform: scale(100%);
  transition: ease-out 0.2s;
}
.social-icon:hover{
  background-color: white;
  cursor: pointer;
  transform: scale(110%);
  transition: ease-in 0.2s;
  font-size: 1.5em;
  overflow: visible;
}
.social-icon:focus{
  background-color: white;
  cursor: pointer;
  transform: scale(90%);
  transition: ease-in 0.2s;
  font-size: 1em;
  overflow: visible;
}





body.expand img {
  width: 15em;
}

/* hover om transition goed te krijgen met :focus::after*/

/* mobile */
@media only screen and (max-width: 460px){

  .flip{
    transform: rotate(90deg);
    padding: 6px 10px;
  }
  .flip:focus::after{
    transform: rotate(90deg);
    content: "◀︎";
    position: absolute;
    top: 5px;
    left: 7px;
    
  }
  .frond-card{
    z-index: 1;
  }
  .full-wrapper{
    display: flex;
    flex-direction: column;
  }
  .back-card{
    margin-left: 0em;
    border-radius: 0em 0em 0.8em 0.8em;
    margin-top: -1em;
  }
}