* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: #10214e;
}

.profilecard{
  height: 60vh;
  width: 400px;
  background-color: aquamarine;
  border-radius: 12px;
  box-shadow: #00000026 6px 6px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top{
  height: 12vh;
  width: inherit;
  background-color: black;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  top: 0px;
}
.image{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: rgb(77, 77, 77);
  position: relative;
  top: -40px;
}
.middel{
  height: 5vh;
  width: inherit;
  background-color: inherit;
  position: relative;
  top: -40px;
}
.middel h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.bottom{
  height: 33vh;
  background-color: inherit;
  width: inherit;
}
/* expand content */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
}
